<template>
    <div>
        <div class="dropzone">	  
            <div class="mt-20 mb-20">
                <a class="bold">Drag and Drop  Images Here</a>
            </div>
            <img src="/assets/icon/icon-drop.png" alt="icon-drop">
            <div class="mt-20 mb-25">
                <a class="bold">OR</a>
            </div>
            <div>
                <a class="button-custom bold" @click="displayFileBrowser">UPLOAD PHOTOS</a>
            </div>
        </div>
        <div class="row mt-25">            
            <div v-for="photo in photos" class="col-md-3 col-xs-6" style="padding: 0 15px; margin-bottom: 15px;">
                <div class="block-img" style="overflow: hidden; height: 150px; margin-bottom: 15px;text-align: center">
                    <button type="button" class="remove-img" style="position: absolute;background: red;color: white;top: -8px;right: 10px;border-radius:50%;border:none;padding:7px 10px;cursor:pointer" @click="removePhoto(photo)">X</button>
                    <img :src="photo.image" style="height:100%">
                </div>
                <button type="button" class="button small-expanded button-set-cover" :class="{ disabled: photo.isCover }" style="width: 100%;" data-id="primary_photo" @click="setAsCover(photo)">
                    {{ photo.isCover ? 'COVER' : 'SET AS COVER' }}
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            value: { 
                type: Array, 
                default: () => [] // To return array as default value we have to use factory method.
            },
            moveCover: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return { photos: this.value };
        },

        methods: {
            addPhoto(filePath) {
                this.photos.push({ 
                    image: filePath,
                    isCover: this.photos.length === 0,
                });

                this.$emit('input', this.photos);
            },

            removePhoto(photo) {
                const indexToDelete = this.photos.indexOf(photo);
                this.photos.splice(indexToDelete, 1);

                // Assign new cover if needed.
                if (photo.isCover && this.photos.length > 0) {
                    this.photos[0].isCover = true;
                }

                this.$emit('input', this.photos);
            },

            setAsCover(photo) {
                let indexToMove = -1;
                this.photos.forEach((p, index) => {
                    p.isCover = p === photo

                    if (p === photo) {
                        indexToMove = index;
                    }
                });

                if (this.moveCover) {
                    if (indexToMove >= 0) { // No need to move index 0.
                        this.photos.splice(indexToMove, 1);
                        this.photos.unshift(photo);
                    }
                }

                this.$emit('input', this.photos);
            },

            uploadFile: function(file) {
                const formData = new FormData();
                formData.append('file', file);

                return axios.post('/upload_file', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                });
            },

            displayFileBrowser() {
                const fileSelector = document.createElement('input');
                fileSelector.setAttribute('type', 'file');

                const self = this;

                fileSelector.onchange = (function(e) {
                    this.uploadFile(fileSelector.files[0])
                        .then(function(response) {
                            self.addPhoto(response.data);
                        })
                        .catch(function(data) {
                            // Emit event with the error message
                            // var message = data.responseJSON.error;
                            // alertify.error(message);
                        });

                   e.preventDefault();
                }).bind(this);

                fileSelector.click();
            }
        }
    }
</script>

<style>
    .dropzone {
       border-radius: 6px;
       background-color: #f0f0f0;
       border: 2px dashed #aaa;
       height: 350px;
       width: 100%;
       text-align: center;
       padding: 20px;
    }
</style>
