<template>
   	<div class="input-group">
      	<div class="input-display">{{ labelText }}</div>
      	<a href="#" class="input-group-addon file-uploader file-browser-trigger" @click.prevent="displayFileBrowser">Upload</a>
   	</div>
</template>

<script>
    export default {
    	props: {
    		placeholder: { 
    			type: String,
    			required: true 
    		},
            value: {
                type: String,
                default: ''
            }
    	},

        data() {
            return { filePath: '' };
        },

        computed: {
            fileName() {
                return this.filePath.substring(this.filePath.lastIndexOf('/') + 1);
            },

        	labelText() {
        		return this.fileName || this.placeholder;
        	}
        },

        methods: {
        	uploadFile: function(file) {
        	    const formData = new FormData();
        	    formData.append('file', file);

        	    return axios.post('/upload_file', formData, {
        	        headers: {
        	            'Content-Type': 'multipart/form-data'
        	        },

                    // onUploadProgress(progressEvent) {
                    //     const totalLength = progressEvent.lengthComputable 
                    //         ? progressEvent.total 
                    //         : progressEvent.target.getResponseHeader('content-length') 
                    //             || progressEvent.target.getResponseHeader('x-decompressed-content-length');

                    //     if (totalLength !== null) {
                    //         const progress = Math.round( (progressEvent.loaded * 100) / totalLength );
                    //         this.updateProgressBarValue(progress);
                    //     }
                    // }
        	    });
        	},

            displayFileBrowser() {
                const fileSelector = document.createElement('input');
                fileSelector.setAttribute('type', 'file');

                const self = this;

                fileSelector.onchange = (function(e) {
                    this.uploadFile(fileSelector.files[0])
                        .then(function(response) {
                        	self.filePath = response.data;
                            self.$emit('input', self.filePath);
                        })
                        .catch(function(data) {
                            // Emit event with the error message
                            // var message = data.responseJSON.error;
                            // alertify.error(message);
                        });

                   e.preventDefault();
                }).bind(this);

                fileSelector.click();
            }
        },

        created() {
            this.filePath = this.value;
        }
    }
</script>

<style>
	.input-display {
	   padding: 6px 12px;
	   border: 1px solid #ccc;
	   color: #a7a7a7;
	}

	.input-group .input-display:first-child {
	   border-top-left-radius: 6px;  
	   border-bottom-left-radius: 6px;  
	}
</style>