<template>
    <div class="custom-area-metric">
        <input type="text" v-model="amount" class="custom-text spec" :placeholder="placeholder" spec-id="4" onkeypress="return validate_number(event, this);" onkeyup="addComa(this);" autocomplete="off" required>
        <a href="#" class="custom-button left" :class="{ active: metric === 'm' }" @click.prevent="metric = 'm'">m<sup>2</sup></a>
        <a href="#" class="custom-button right" :class="{ active: metric === 'ft' }" @click.prevent="metric = 'ft'">ft<sup>2</sup></a>
    </div>
</template>

<script>
    export default {
    	props: {
    		placeholder: { 
    			type: String,
    			required: true 
    		},
            value: {
                type: Object,
                default: { amount: '', metric: 'm' }
            }
    	},

        data() {
            return this.value;
        },
    }
</script>

<style>
	.input-display {
	   padding: 6px 12px;
	   border: 1px solid #ccc;
	   color: #a7a7a7;
	}

	.input-group .input-display:first-child {
	   border-top-left-radius: 6px;  
	   border-bottom-left-radius: 6px;  
	}
</style>