<template>
    <div>
        <div class="col-md-4 col-xs-12" v-for="internalOption in internalOptions" @click="selectOption(internalOption)">
            <label class="radio-status" :class="{ active: internalOption.active }">
                <div>{{ internalOption.name }}</div>
            </label>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            options: { 
                type: Array,
                required: true 
            },
            value: Number
        },

        data() {
            return {
                internalOptions: []
            }
        },

        mounted() {
            this.internalOptions = this.options.map(option => {
                option.active = option.id === this.value;
                return option;
            });
        },

        methods: {
            selectOption(selectedOption) {
                this.internalOptions.forEach(option => option.active = option === selectedOption);
                this.$emit('input', selectedOption.id);
            }
        }
    }
</script>

<style lang="scss">
    .radio-status.active div {
        background-color: #1477ea;
        border: solid 1px #d7d7d7;
        color: #ffffff;
    }
</style>