<template>
    <label class="radio-type" :class="{ active: active }">
	    <div>
	   		<img :src="image" :class="imageClass">
	      	<span>{{ type.name }}</span>
	    </div>
	</label>
</template>

<script>
    export default {
    	props: {
    		type: { type: Object, required: true }
    	},

    	data() {
    		return {
    			active: false
    		};
    	},

    	computed: {
    		image() {
    			return '/assets/icon/icon-' + this.type.name.toLowerCase().replace(/\s/g, '') + (this.active ? '-active' : '') + '.svg';
    		},
    		imageClass() {
    			return this.active ? 'active' : 'inactive';
    		}
    	}
    }
</script>

<style lang="scss">
    .radio-type {
        display: inline-block;
        margin-right: 3px;

        &.active {
            color: #1477ea;
        }
    }
</style>