<template>
    <div>
		<selector-item v-for="type in types" :key="type.id" :type="type" @click.native="selectItem(type.id)"></selector-item>
    </div>
</template>

<script>
	import SelectorItem from './PropertyTypeSelectorItem';

    export default {
    	props: {
    		types: { 
    			type: Array,
    			required: true 
    		},
            value: Number
    	},

    	components: {
    		SelectorItem
    	},

        data() {
            return { items: [] };
        },

        created() {
            this.items = this.$children;
        },

        mounted() {
            if (this.value) {
                this.selectItem(this.value);
            }
        },

        methods: {
            selectItem(value) {
                this.items.forEach(item => item.active = item.type.id === value);
                this.$emit('input', value);
            }
        }
    }
</script>
