<template>
    <table class="table table-bordered table-hover table-stripped" style="width: 100%;">
        <thead>
            <tr>
                <th>Action</th>
                <th>Type Name</th>
                <th>Price</th>
                <th>Land Area</th>
                <th>Floor Area</th>
                <th><img src="/assets/icon/icon-bedroom.svg" style="width: 22px; height: 15px;"></th>
                <th><img src="/assets/icon/icon-bathroom.svg" style="width: 22px; height: 15px;"></th>
                <th><img src="/assets/icon/icon-parking.svg" style="width: 22px; height: 15px;"></th>
                <th>Photos</th>
                <th>Floor Plan</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(unitType, index) in unitTypes">
                <td>
                    <div class="btn-group pull-left">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-navicon"></i> <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-left" role="menu">
                            <li>
                                <a href="#" class="edit_unit" @click.prevent="$emit('clicked-edit-unit-type', unitType)">
                                    <i class="fa fa-edit" aria-hidden="true"></i> Edit
                                </a>
                            </li>
                            <li>
                                <a href="#" class="delete_unit" @click.prevent="unitTypes.splice(index, 1);">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>{{ unitType.name }}</td>
                <td>{{ unitType.price }}</td>
                <td>{{ unitType.landArea | formattedMetric }}</td>
                <td>{{ unitType.floorArea | formattedMetric }}</td>
                <td>{{ unitType.bedrooms }}</td>
                <td>{{ unitType.bathrooms }}</td>
                <td>{{ unitType.parkings }}</td>
                <td>
                    <img v-if="coverImageForPhotos(unitType.photos)" :src="coverImageForPhotos(unitType.photos)" alt="" style="width: 100px">
                </td>
                <td>
                    <img v-if="coverImageForPhotos(unitType.floorPlan)" :src="coverImageForPhotos(unitType.floorPlan)" alt="" style="width: 100px">
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
    	props: {
    		unitTypes: { 
    			type: Array,
                default: () => []
    		}
    	},

        methods: {
            coverImageForPhotos(photos) {
                const cover = photos.find(photo => photo.isCover);

                if (cover) {
                    return cover.image;
                }

                return null;
            }
        },

        filters: {
            formattedMetric(value) {
                return `${value.amount} sq${value.metric}`;
            }
        }
    }
</script>