<template>
    <div class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="modal-title" style="text-align: center;">Add Type</h3>
                </div>
                <form @submit.prevent="submitted">
                    <div class="modal-body" style="padding: 10px 50px;">
                        <input type="text" name="unit_id" style="display:none;">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>Type Name</label>
                                    <input v-model="name" type="text" class="form-control" placeholder="Insert type name" style="border-radius: 6px;" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>Price</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="border-top-left-radius: 6px; border-bottom-left-radius: 6px;">IDR</span>
                                        <input v-model="price" type="text" class="form-control price-input" placeholder="Insert price" style="border-top-right-radius: 6px; border-bottom-right-radius: 6px;" onkeypress="return validate_number(event, this);" onkeyup="addComa(this);" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <label>Photos<span class="validation-notice photos">photo minimal 1</span></label>
                                <drop-box :value="photos"></drop-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <label>Floor Plan<span class="validation-notice photos">photo minimal 1</span></label>
                                <drop-box :value="floorPlan"></drop-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <label>Land Area</label>
                                <metric-input placeholder="Insert land area" :value="landArea"></metric-input>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <label>Floor Area</label>
                                <div class="custom-area-metric">
                                    <metric-input placeholder="Insert floor area" :value="floorArea"></metric-input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label>Bedrooms</label>
                                    <select v-model="bedrooms" class="form-control spec" name="type_bedroom" spec-id="1" style="border-radius: 6px;">
                                        <option v-for="(n, i) in 10" :value="i" :selected="i === 0">{{ i }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label>Bathrooms</label>
                                    <select v-model="bathrooms" class="form-control spec" name="type_bathroom" spec-id="2" style="border-radius: 6px;">
                                        <option v-for="(n, i) in 10" :value="i" :selected="i === 0">{{ i }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label>Parkings</label>
                                    <select v-model="parkings" class="form-control spec" name="type_parking" spec-id="3" style="border-radius: 6px;">
                                        <option v-for="(n, i) in 10" :value="i" :selected="i === 0">{{ i }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="padding:10px 50px;">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import DropBox from './DropBox.vue';
    import MetricInput from './MetricInput.vue';

    export default {
        components: { DropBox, MetricInput },

        data() {
            return {
                id: '',
                name: '',
                price: '',
                landArea: {
                    amount: '',
                    metric: 'm'
                },
                floorArea: {
                    amount: '',
                    metric: 'm'
                },
                bathrooms: 0,
                bedrooms: 0,
                parkings: 0,
                photos: [],
                floorPlan: []
            }
        },

        methods: {
            submitted() {
                // Emit clonned object.
                const clonedData = JSON.parse(JSON.stringify(this.$data));
                this.$emit('submit', clonedData);
            },

            reset() {
                this.id = '';
                this.name = '';
                this.price = '';
                this.landArea.amount = '';
                this.landArea.metric = 'm';
                this.floorArea.amount = '';
                this.floorArea.metric = 'm';
                this.bathrooms = 0;
                this.bedrooms = 0;
                this.parkings = 0;
                this.photos.splice(0, this.photos.length);
                this.floorPlan.splice(0, this.floorPlan.length);
            },

            setData(data) {
                this.reset();

                const clonedData = JSON.parse(JSON.stringify(data));

                // Don't use Object assign here, vue can't detect it.
                this.id = clonedData.id;
                this.name = clonedData.name;
                this.price = clonedData.price;
                this.landArea.amount = clonedData.landArea.amount;
                this.landArea.metric = clonedData.landArea.metric;
                this.floorArea.amount = clonedData.floorArea.amount;
                this.floorArea.metric = clonedData.floorArea.metric;
                this.bathrooms = clonedData.bathrooms;
                this.bedrooms = clonedData.bedrooms;
                this.parkings = clonedData.parkings;
                clonedData.photos.forEach(photo => this.photos.push(photo));
                clonedData.floorPlan.forEach(photo => this.floorPlan.push(photo));
            }
        }
    }
</script>