.mt-5 {
  margin-top: 5px;
  margin-top: 0.3125rem;
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
  margin-bottom: 5px !important;
}

.pt-5 {
  padding-top: 5px;
  padding-top: 0.3125rem;
  padding-top: 5px !important;
}

.pb-5 {
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
  padding-bottom: 5px !important;
}

.mt-10 {
  margin-top: 10px;
  margin-top: 0.625rem;
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  margin-bottom: 10px !important;
}

.pt-10 {
  padding-top: 10px;
  padding-top: 0.625rem;
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
  padding-bottom: 10px !important;
}

.mt-15 {
  margin-top: 15px;
  margin-top: 0.9375rem;
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  margin-bottom: 15px !important;
}

.pt-15 {
  padding-top: 15px;
  padding-top: 0.9375rem;
  padding-top: 15px !important;
}

.pb-15 {
  padding-bottom: 15px;
  padding-bottom: 0.9375rem;
  padding-bottom: 15px !important;
}

.mt-20 {
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  margin-bottom: 20px !important;
}

.pt-20 {
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  padding-bottom: 20px !important;
}

.mt-25 {
  margin-top: 25px;
  margin-top: 1.5625rem;
  margin-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px;
  margin-bottom: 1.5625rem;
  margin-bottom: 25px !important;
}

.pt-25 {
  padding-top: 25px;
  padding-top: 1.5625rem;
  padding-top: 25px !important;
}

.pb-25 {
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
  padding-bottom: 25px !important;
}

.mt-30 {
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
  margin-bottom: 30px !important;
}

.pt-30 {
  padding-top: 30px;
  padding-top: 1.875rem;
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  padding-bottom: 30px !important;
}

.mt-35 {
  margin-top: 35px;
  margin-top: 2.1875rem;
  margin-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px;
  margin-bottom: 2.1875rem;
  margin-bottom: 35px !important;
}

.pt-35 {
  padding-top: 35px;
  padding-top: 2.1875rem;
  padding-top: 35px !important;
}

.pb-35 {
  padding-bottom: 35px;
  padding-bottom: 2.1875rem;
  padding-bottom: 35px !important;
}

.mt-40 {
  margin-top: 40px;
  margin-top: 2.5rem;
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  margin-bottom: 40px !important;
}

.pt-40 {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
  padding-bottom: 40px !important;
}

.mt-45 {
  margin-top: 45px;
  margin-top: 2.8125rem;
  margin-top: 45px !important;
}

.mb-45 {
  margin-bottom: 45px;
  margin-bottom: 2.8125rem;
  margin-bottom: 45px !important;
}

.pt-45 {
  padding-top: 45px;
  padding-top: 2.8125rem;
  padding-top: 45px !important;
}

.pb-45 {
  padding-bottom: 45px;
  padding-bottom: 2.8125rem;
  padding-bottom: 45px !important;
}

.mt-50 {
  margin-top: 50px;
  margin-top: 3.125rem;
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
  margin-bottom: 50px !important;
}

.pt-50 {
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-top: 50px !important;
}

.pb-50 {
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
  padding-bottom: 50px !important;
}

.mt-55 {
  margin-top: 55px;
  margin-top: 3.4375rem;
  margin-top: 55px !important;
}

.mb-55 {
  margin-bottom: 55px;
  margin-bottom: 3.4375rem;
  margin-bottom: 55px !important;
}

.pt-55 {
  padding-top: 55px;
  padding-top: 3.4375rem;
  padding-top: 55px !important;
}

.pb-55 {
  padding-bottom: 55px;
  padding-bottom: 3.4375rem;
  padding-bottom: 55px !important;
}

.mt-60 {
  margin-top: 60px;
  margin-top: 3.75rem;
  margin-top: 60px !important;
}

.mb-60 {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
  margin-bottom: 60px !important;
}

.pt-60 {
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-top: 60px !important;
}

.pb-60 {
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
  padding-bottom: 60px !important;
}

.mt-65 {
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-top: 65px !important;
}

.mb-65 {
  margin-bottom: 65px;
  margin-bottom: 4.0625rem;
  margin-bottom: 65px !important;
}

.pt-65 {
  padding-top: 65px;
  padding-top: 4.0625rem;
  padding-top: 65px !important;
}

.pb-65 {
  padding-bottom: 65px;
  padding-bottom: 4.0625rem;
  padding-bottom: 65px !important;
}

.mt-70 {
  margin-top: 70px;
  margin-top: 4.375rem;
  margin-top: 70px !important;
}

.mb-70 {
  margin-bottom: 70px;
  margin-bottom: 4.375rem;
  margin-bottom: 70px !important;
}

.pt-70 {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-top: 70px !important;
}

.pb-70 {
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
  padding-bottom: 70px !important;
}

.mt-75 {
  margin-top: 75px;
  margin-top: 4.6875rem;
  margin-top: 75px !important;
}

.mb-75 {
  margin-bottom: 75px;
  margin-bottom: 4.6875rem;
  margin-bottom: 75px !important;
}

.pt-75 {
  padding-top: 75px;
  padding-top: 4.6875rem;
  padding-top: 75px !important;
}

.pb-75 {
  padding-bottom: 75px;
  padding-bottom: 4.6875rem;
  padding-bottom: 75px !important;
}

.mt-80 {
  margin-top: 80px;
  margin-top: 5rem;
  margin-top: 80px !important;
}

.mb-80 {
  margin-bottom: 80px;
  margin-bottom: 5rem;
  margin-bottom: 80px !important;
}

.pt-80 {
  padding-top: 80px;
  padding-top: 5rem;
  padding-top: 80px !important;
}

.pb-80 {
  padding-bottom: 80px;
  padding-bottom: 5rem;
  padding-bottom: 80px !important;
}

.mt-85 {
  margin-top: 85px;
  margin-top: 5.3125rem;
  margin-top: 85px !important;
}

.mb-85 {
  margin-bottom: 85px;
  margin-bottom: 5.3125rem;
  margin-bottom: 85px !important;
}

.pt-85 {
  padding-top: 85px;
  padding-top: 5.3125rem;
  padding-top: 85px !important;
}

.pb-85 {
  padding-bottom: 85px;
  padding-bottom: 5.3125rem;
  padding-bottom: 85px !important;
}

.mt-90 {
  margin-top: 90px;
  margin-top: 5.625rem;
  margin-top: 90px !important;
}

.mb-90 {
  margin-bottom: 90px;
  margin-bottom: 5.625rem;
  margin-bottom: 90px !important;
}

.pt-90 {
  padding-top: 90px;
  padding-top: 5.625rem;
  padding-top: 90px !important;
}

.pb-90 {
  padding-bottom: 90px;
  padding-bottom: 5.625rem;
  padding-bottom: 90px !important;
}

.mt-95 {
  margin-top: 95px;
  margin-top: 5.9375rem;
  margin-top: 95px !important;
}

.mb-95 {
  margin-bottom: 95px;
  margin-bottom: 5.9375rem;
  margin-bottom: 95px !important;
}

.pt-95 {
  padding-top: 95px;
  padding-top: 5.9375rem;
  padding-top: 95px !important;
}

.pb-95 {
  padding-bottom: 95px;
  padding-bottom: 5.9375rem;
  padding-bottom: 95px !important;
}

.mt-100 {
  margin-top: 100px;
  margin-top: 6.25rem;
  margin-top: 100px !important;
}

.mb-100 {
  margin-bottom: 100px;
  margin-bottom: 6.25rem;
  margin-bottom: 100px !important;
}

.pt-100 {
  padding-top: 100px;
  padding-top: 6.25rem;
  padding-top: 100px !important;
}

.pb-100 {
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  padding-bottom: 100px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.radio-type {
  cursor: pointer;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.radio-status {
  cursor: pointer;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  width: 100%;
}

.radio-type > input,
.radio-status > input {
  visibility: hidden;
  position: absolute;
}

.radio-status > div {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: solid 1px #d7d7d7;
  border-radius: 6px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.radio-status > input:checked + div {
  width: 100%;
  height: 40px;
  background-color: #1477ea;
  border: solid 1px #d7d7d7;
  border-radius: 6px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.radio-type > div {
  width: 90px;
  height: 90px;
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid gray;
  text-align: center;
}

.radio-type > input:checked + div > img.active {
  display: block !important;
}

.radio-type > input:checked + div > img.inactive {
  display: none;
}

.radio-type > input:checked + div > span {
  color: #1477ea;
}

.radio-type > div > img {
  width: 30px;
  height: 30px;
  margin: 15px auto;
  display: block;
}

.listing-photo {
  width: 100%;
  height: 350px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.bold {
  font-weight: 600;
}

#drop_zone {
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 6px;
  background-color: #f0f0f0;
  border: 2px dashed #aaa;
  height: 350px;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.button-custom {
  background: #1477ea;
  color: #fff !important;
  padding: 11px 52px;
  line-height: normal;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: 0;
  outline: 0;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none !important;
}

.validation-notice {
  margin: 0 5px;
  color: red;
  font-weight: 500;
  font-style: italic;
  display: none;
}

div .custom-input-text {
  width: 100%;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

div .custom-input-text .custom-price {
  width: 48%;
  height: 31px;
  border: 0px;
  float: left;
  padding: 6px 14px;
  border-radius: 6px;
}

div .custom-input-text .divider {
  width: 4%;
  height: 31px;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 31px;
  float: left;
}

div .custom-area-metric {
  width: 100%;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

div .custom-area-metric .custom-text {
  width: 70%;
  height: 32px;
  border: 0px;
  float: left;
  padding: 6px 14px;
  border-radius: 6px;
}

div .custom-area-metric .custom-button {
  width: 15%;
  height: 32px;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 31px;
  float: left;
  background-color: #ffffff;
  color: #787f8a;
  border: 1px solid #ccc;
}

div .custom-area-metric .custom-button.left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

div .custom-area-metric .custom-button.right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

div .custom-area-metric .custom-button.active {
  background-color: #1477ea;
  color: #ffffff;
}

.file-uploader {
  background-color: #1477ea !important;
  border-color: #1477ea !important;
  color: #ffffff;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.button {
  background: #1477EA;
  color: #fff !important;
  padding: 11px 52px;
  padding: 0.6875rem 3.25rem;
  line-height: normal;
  font-weight: 500;
  font-size: 15px;
  font-size: 0.9375rem;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: 0;
  outline: 0;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none !important;
}

.button.disabled {
  background-color: #999999;
  cursor: default;
}

div.rounded-popup {
  border-radius: 25px;
  width: 15px;
  height: 15px;
  background-color: #97a0b3;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 13px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */

.popup .popuptext {
  visibility: hidden;
  font-size: 14px !important;
  width: 278px;
  background-color: #97a0b3;
  color: #yellow;
  text-align: left;
  border-radius: 6px;
  padding: 10px 13px;
  position: absolute;
  z-index: 1;
  bottom: -175%;
  left: -1915%;
}

/* Popup arrow */

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 26%;
  left: 101%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #97a0b3;
}

/* Toggle this class - hide and show the popup */

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

span.phone_hide {
  display: none;
}

.button.white {
  color: #1477EA !important;
  background: #fff;
  border: 1.5px solid #1477EA;
  border-radius: 6px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

input[type=file].listing-photo {
  width: 100%;
  height: 350px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

div.modal-auth-logo {
  margin: 20px 0 30px;
}

div.modal-auth-logo img {
  height: 30px;
}

div.modal-auth-btn {
  margin-bottom: 20px;
}

.bold {
  font-weight: 600;
}

div.stepper-wrapper {
  text-align: center;
}

div.stepper-wrapper span.stepper-icon {
  width: 40px;
  height: 40px;
  display: block;
  background: #d6d6d6;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 50%;
}

div.stepper-wrapper span.stepper-icon i {
  color: #fff;
  line-height: 2;
}

div.stepper-wrapper span.stepper-icon i:before {
  vertical-align: middle;
  font-size: 15px;
}

div.stepper-wrapper span.stepper-caption {
  color: rgba(0, 0, 0, 0.78);
}

div.stepper-wrapper.active span.stepper-icon {
  background: #1477ea;
}

div.stepper-wrapper.active span.stepper-caption {
  color: #1477ea;
  font-weight: 600;
}

div.stepper-separator {
  height: 45px;
  border-right: 1px solid #d6d6d6;
  width: calc(50% - 0.5px);
  margin: 12px 0;
}

div.stepper-content {
  display: none;
}

div.stepper-content.active {
  display: block;
}

h1.form-heading {
  font-size: 1.5em;
  font-weight: 500;
  color: #000;
  margin-bottom: 30px;
}

#drop_zone {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
  background-color: #f0f0f0;
  border: dashed 2px #aaaaaa;
  height: 350px;
  width: 100%;
  text-align: center;
  padding: 20px;
}

#custom-map-control {
  margin: 20px;
  width: calc(100% - 40px);
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 0px;
}

.autocomplete-wrapper {
  border-radius: 6px;
  border: solid 1px #d7d7d7;
  background: #fff;
  margin-bottom: 10px;
}

.map-autocomplete-icon {
  font-size: 18px;
  color: #d6d6d6;
  margin-top: 11px;
  padding: 0 10px;
  float: left;
}

#map-autocomplete-input {
  border: none;
  border-radius: 6px;
  height: 40px;
  outline: none;
  background-color: #fff;
  padding: 10px;
  padding-left: 0;
  width: calc(100% - 38px);
  font-size: 15px;
}

.drag-notice-wrapper {
  height: 36px;
  background: #fff;
  border-radius: 6px;
  line-height: 36px;
  display: inline-block;
}

.drag-notice-icon {
  color: #FF8400;
  font-size: 18px;
  margin-top: 9px;
  padding: 0 10px;
  float: left;
}

.drag-notice-text {
  font-size: 14px;
  padding-right: 10px;
}

#wnp-marker {
  display: block;
  height: 47px;
  width: 35px;
  position: absolute;
  left: 50%;
  top: calc(50% - 23.5px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

#custom-map-control-street-view {
  margin: 24px 10px;
  z-index: 0;
  position: absolute;
  right: 40px !important;
  bottom: 0px;
  padding: 10px;
  background: #fff;
}

.submit-agreement {
  vertical-align: middle;
  display: inline-block;
  width: 300px;
  margin-right: 25px;
  color: #999999;
}

.validation-notice {
  margin: 0 5px;
  color: red;
  font-weight: 500;
  font-style: italic;
  display: none;
}

input[type="radio"].report-radio {
  position: absolute;
  width: auto;
  display: inline-block;
}

a.sign-out object {
  width: 26px !important;
  height: 20px !important;
  vertical-align: middle !important;
}

a.sign-out span {
  color: #e54242;
}

img#sign-out {
  height: 20px;
  width: 19px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 13px;
}

@font-face {
  font-family: 'worknplay-font-icon';
  src: url(/fonts/worknplay-font-icon.eot?8a56aa8d46c0089137e89704b24c2141);
  src: url(/fonts/worknplay-font-icon.eot?8a56aa8d46c0089137e89704b24c2141) format("embedded-opentype"), url(/fonts/worknplay-font-icon.ttf?e96aee26761d8a2cd3b65ddd7b88ba47) format("truetype"), url(/fonts/worknplay-font-icon.woff?981193df65ddaf25f87ed4fdccd76931) format("woff"), url(/fonts/worknplay-font-icon.svg?1998f21e9995cda7d37d964b9be4f3bb) format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'worknplay-font-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\E910";
}

.icon-menu:before {
  content: "\E900";
}

.icon-house:before {
  content: "\E901";
}

.icon-location:before {
  content: "\E906";
}

.icon-close:before {
  content: "\E907";
}

.icon-archive:before {
  content: "\E908";
}

.icon-bathroom:before {
  content: "\E909";
}

.icon-bathroom-outline:before {
  content: "\E90A";
}

.icon-bathroom-white:before {
  content: "\E90B";
}

.icon-bedroom:before {
  content: "\E90C";
}

.icon-bedroom-outline:before {
  content: "\E90D";
}

.icon-bedroom-white:before {
  content: "\E90E";
}

.icon-bell:before {
  content: "\E90F";
}

.icon-bell-filled:before {
  content: "\E911";
}

.icon-car-map:before {
  content: "\E912";
}

.icon-change-password:before {
  content: "\E913";
}

.icon-chevron-right:before {
  content: "\E914";
}

.icon-clock:before {
  content: "\E915";
}

.icon-delete:before {
  content: "\E916";
}

.icon-edit:before {
  content: "\E917";
}

.icon-eye-hide:before {
  content: "\E918";
}

.icon-eye-show:before {
  content: "\E919";
}

.icon-feedback:before {
  content: "\E91A";
}

.icon-info:before {
  content: "\E91B";
}

.icon-sold:before {
  content: "\E91C";
}

.icon-list:before {
  content: "\E91D";
}

.icon-grid:before {
  content: "\E91E";
}

.icon-love:before {
  content: "\E91F";
}

.icon-love-filled:before {
  content: "\E920";
}

.icon-map:before {
  content: "\E921";
}

.icon-new-tab:before {
  content: "\E922";
}

.icon-parking:before {
  content: "\E923";
}

.icon-parking-outline:before {
  content: "\E924";
}

.icon-parking-white:before {
  content: "\E925";
}

.icon-read:before {
  content: "\E926";
}

.icon-region:before {
  content: "\E927";
}

.icon-search:before {
  content: "\E928";
}

.icon-gear-filled:before {
  content: "\E929";
}

.icon-share:before {
  content: "\E92A";
}

.icon-success:before {
  content: "\E92B";
}

.icon-triangle-top:before {
  content: "\E92C";
}

.icon-user-filled:before {
  content: "\E92D";
}

label.select-section {
  cursor: pointer;
}

label.select-section input[type="radio"] {
  display: none;
}

label.select-section input[type="radio"] + a {
  width: 100%;
  display: block;
  padding: 10px 0;
  text-align: center;
  border-radius: 6px;
  border: solid 1px #d7d7d7;
  color: #000000;
}

label.select-section input[type="radio"]:checked + a {
  background: #1477EA;
  color: #fff;
}

label.check-section {
  cursor: pointer;
}

label.check-section input[type="checkbox"] {
  display: none;
}

label.check-section input[type="checkbox"] + span {
  height: 20px;
  width: 20px;
  float: left;
  display: inline-block;
  margin-right: 10px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #d7d7d7;
}

label.check-section input[type="checkbox"] + span:after {
  content: "";
  position: absolute;
  display: none;
  left: 22px;
  top: 3px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label.check-section input[type="checkbox"] + span.map-control {
  margin-right: 5px;
}

label.check-section input[type="checkbox"] + span.map-control:after {
  left: 16.5px;
  top: 13px;
}

label.check-section input[type="checkbox"] + span + a {
  text-align: center;
  color: #000000;
}

label.check-section input[type="checkbox"] + span + a.map-control {
  line-height: 20px;
}

label.check-section input[type="checkbox"]:checked + span {
  background: #1477EA;
  color: #fff;
}

label.check-section input[type="checkbox"]:checked + span:after {
  display: block;
}

