.custom-radio {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.custom-radio > input {
	visibility: hidden;
	position: absolute;
}

.custom-radio > div {
	width: 90px;
	height: 90px;
	border-radius: 6px;
	background-color: #ffffff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid gray;
	text-align: center;
}

.custom-radio > input:checked + div > svg.active {
	display: block !important;
}
.custom-radio > input:checked + div > svg.inactive {
	display: none;
}

.custom-radio > input:checked + div > span {
	color: #1477ea;
}

.custom-radio > div > img {
	width: 30px;
	height: 30px;
	margin: 15px auto;
	display: block;
}

.listing-photo {
	width: 100%;
	height: 350px;
	position: absolute;
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}

.bold{
	font-weight: 600;
}

