// property details
span{
  &.phone_hide{
    display: none;
  }
}

// popup sign in sign up
.button {
  &.white {
    color: #1477EA !important;
    background: #fff;
    border: 1.5px solid #1477EA;
    border-radius: 6px;
  }
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right {
  text-align: right;
}

.left{
  float: left;
}

.right {
  float: right;
}

input[type=file].listing-photo {
  width: 100%;
  height: 350px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

// popup sign in sign up
div{
  &.modal-auth-logo{
    margin: 20px 0 30px;
    img{
      height: 30px;
    }
  }
  &.modal-auth-btn {
    margin-bottom: 20px;
  }
}

// create listing
.bold{
  font-weight: 600;
}
div{
  &.stepper-wrapper{
    text-align: center;
    span{
      &.stepper-icon{
        width: 40px;
        height: 40px;
        display: block;
        background: #d6d6d6;
        margin: auto;
        margin-bottom: 5px;
        border-radius: 50%;
        i{
          color: #fff;
          line-height: 2;
          &:before {
            vertical-align: middle;
            font-size: 15px;
          }
        }
      }
      &.stepper-caption {
        color: rgba(0, 0, 0, 0.78);
      }
    }
    
    &.active {
      span{
        &.stepper-icon {
          background: #1477ea;
        }
        &.stepper-caption {
          color: #1477ea;
          font-weight: 600;
        }
      }
    }
  }

  &.stepper-separator {
    height: 45px;
    border-right: 1px solid #d6d6d6;
    width: calc(50% - 0.5px);
    margin: 12px 0;
  }
  &.stepper-content{
    display: none;
    &.active{
      display: block;
    }
  }
}

h1.form-heading{
  font-size: 1.5em;
  font-weight: 500;
  color: #000;
  margin-bottom: 30px;
}


// create listing
#drop_zone {
  object-fit: contain;
  border-radius: 6px;
  background-color: #f0f0f0;
  border: dashed 2px #aaaaaa;
  height: 350px;
  width: 100%;
  text-align: center;
  padding: 20px;
}

#custom-map-control {
  margin: 20px;
  width: calc(100% - 40px);
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 0px;
}

.autocomplete-wrapper {
  border-radius: 6px;
  border: solid 1px #d7d7d7;
  background: #fff;
  margin-bottom: 10px;
}

.map-autocomplete-icon {
  font-size: 18px;
  color: #d6d6d6;
  margin-top: 11px;
  padding: 0 10px;
  float: left;
}

#map-autocomplete-input {
  border: none;
  border-radius: 6px;
  height: 40px;
  outline: none;
  background-color: #fff;
  padding: 10px;
  padding-left: 0;
  width: calc(100% - 38px);
  font-size: 15px;
}

.drag-notice-wrapper {
  height: 36px;
  background: #fff;
  border-radius: 6px;
  line-height: 36px;
  display: inline-block;
}

.drag-notice-icon {
  color: #FF8400;
  font-size: 18px;
  margin-top: 9px;
  padding: 0 10px;
  float: left;
}

.drag-notice-text {
  font-size: 14px;
  padding-right: 10px;
}

#wnp-marker {
  display: block;
  height: 47px;
  width: 35px;
  position: absolute;
  left: 50%;
  top: calc(50% - 23.5px);
  transform: translate(-50%, -50%);
  z-index: 1;
}

#custom-map-control-street-view {
  margin: 24px 10px;
  z-index: 0;
  position: absolute;
  right: 40px !important;
  bottom: 0px;
  padding: 10px;
  background: #fff;
}

.submit-agreement {
  vertical-align: middle;
  display: inline-block;
  width: 300px;
  margin-right: 25px;
  color: #999999;
}

.validation-notice {
  margin: 0 5px;
  color: red;
  font-weight: 500;
  font-style: italic;
  display: none;
}

// report listing modal
input[type="radio"].report-radio {
  position: absolute;
  width: auto;
  display: inline-block;
}

a{
  &.sign-out{
    object {
      width: 26px !important;
      height: 20px !important;
      vertical-align: middle !important;
    }
    span{
      color : rgb(229, 66, 66);
    }
  }
}

// profile dashboard
.upload-btn-wrapper{
  
}

img{
  &#sign-out{
    height: 20px;
    width: 19px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 13px;
  }
}