@font-face {
  font-family: 'worknplay-font-icon';
  src: url('../fonts/worknplay-font-icon.eot?k5okzs');
  src: url('../fonts/worknplay-font-icon.eot?k5okzs#iefix') format('embedded-opentype'), url('../fonts/worknplay-font-icon.ttf?k5okzs') format('truetype'), url('../fonts/worknplay-font-icon.woff?k5okzs') format('woff'), url('../fonts/worknplay-font-icon.svg?k5okzs#worknplay-font-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'worknplay-font-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e910";
}

.icon-menu:before {
  content: "\e900";
}

.icon-house:before {
  content: "\e901";
}

.icon-location:before {
  content: "\e906";
}

.icon-close:before {
  content: "\e907";
}

.icon-archive:before {
  content: "\e908";
}

.icon-bathroom:before {
  content: "\e909";
}

.icon-bathroom-outline:before {
  content: "\e90a";
}

.icon-bathroom-white:before {
  content: "\e90b";
}

.icon-bedroom:before {
  content: "\e90c";
}

.icon-bedroom-outline:before {
  content: "\e90d";
}

.icon-bedroom-white:before {
  content: "\e90e";
}

.icon-bell:before {
  content: "\e90f";
}

.icon-bell-filled:before {
  content: "\e911";
}

.icon-car-map:before {
  content: "\e912";
}

.icon-change-password:before {
  content: "\e913";
}

.icon-chevron-right:before {
  content: "\e914";
}

.icon-clock:before {
  content: "\e915";
}

.icon-delete:before {
  content: "\e916";
}

.icon-edit:before {
  content: "\e917";
}

.icon-eye-hide:before {
  content: "\e918";
}

.icon-eye-show:before {
  content: "\e919";
}

.icon-feedback:before {
  content: "\e91a";
}

.icon-info:before {
  content: "\e91b";
}

.icon-sold:before {
  content: "\e91c";
}

.icon-list:before {
  content: "\e91d";
}

.icon-grid:before {
  content: "\e91e";
}

.icon-love:before {
  content: "\e91f";
}

.icon-love-filled:before {
  content: "\e920";
}

.icon-map:before {
  content: "\e921";
}

.icon-new-tab:before {
  content: "\e922";
}

.icon-parking:before {
  content: "\e923";
}

.icon-parking-outline:before {
  content: "\e924";
}

.icon-parking-white:before {
  content: "\e925";
}

.icon-read:before {
  content: "\e926";
}

.icon-region:before {
  content: "\e927";
}

.icon-search:before {
  content: "\e928";
}

.icon-gear-filled:before {
  content: "\e929";
}

.icon-share:before {
  content: "\e92a";
}

.icon-success:before {
  content: "\e92b";
}

.icon-triangle-top:before {
  content: "\e92c";
}

.icon-user-filled:before {
  content: "\e92d";
}
