label {
	&.select-section {
		cursor: pointer;
		input[type="radio"] {
			display: none;
			+a {
				width: 100%;
				display: block;
				padding: 10px 0;
				text-align: center;
				border-radius: 6px;
				border: solid 1px #d7d7d7;
				color: #000000;
			}
			&:checked {
				+a {
					background: #1477EA;
					color: #fff;
				}
			}
		}
	}
	&.check-section {
		cursor: pointer;
		input[type="checkbox"] {
			display: none;
			+span {
				height: 20px;
				width: 20px;
				float: left;
				display: inline-block;
				margin-right: 10px;
				border-radius: 2px;
				background-color: #ffffff;
				border: solid 1px #d7d7d7;
				&:after {
					content: "";
					position: absolute;
					display: none;
					left: 22px;
					top: 3px;
					width: 7px;
					height: 10px;
					border: solid white;
					border-width: 0 3px 3px 0;
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				&.map-control {
					margin-right: 5px;
					&:after {
						left: 16.5px;
						top: 13px;
					}
				}
				+a {
					text-align: center;
					color: #000000;
					&.map-control {
						line-height: 20px;
					}
				}
			}
			&:checked {
				+span {
					background: #1477EA;
					color: #fff;
					&:after {
						display: block;
					}
				}
			}
		}
	}
}