// $S: 767px;
$S: 991px; // Do not change this
$L: $S + 1;

@mixin MQ($size) {
  @if $size == S {
    @media only screen and (max-width: $S) {
      @content;
    }
  }
  @if $size == L {
    @media only screen and (min-width: $L) {
      @content;
    }
  }
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: nth($values, $i);
    @if $value == auto {
      $pxValues: $pxValues + $value;
    }
    @else {
      $strippedValue: strip-unit($value);
      $pxValues: #{$pxValues + $strippedValue}px;
    }

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: nth($values, $i);

    @if $value == auto {
      $remValues: $remValues + $value;
    }
    @else {
      $strippedValue: strip-unit($value);
      $remValues: #{$remValues + $strippedValue/16}rem;
    }

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

@mixin placeholder {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @content;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    @content;
  }
  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }
}