.radio-type {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.radio-status {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	width: 100%;
}

.radio-type > input, .radio-status > input {
	visibility: hidden;
	position: absolute;
}

.radio-status > div {
	width: 100%;
	height: 40px;
	background-color: #ffffff;
	border: solid 1px #d7d7d7;
	border-radius: 6px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.radio-status > input:checked + div {
	width: 100%;
	height: 40px;
	background-color: #1477ea;
	border: solid 1px #d7d7d7;
	border-radius: 6px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.radio-type > div {
	width: 90px;
	height: 90px;
	border-radius: 6px;
	background-color: #ffffff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid gray;
	text-align: center;
}

.radio-type > input:checked + div > img.active {
	display: block !important;
}
.radio-type > input:checked + div > img.inactive {
	display: none;
}

.radio-type > input:checked + div > span {
	color: #1477ea;
}

.radio-type > div > img {
	width: 30px;
	height: 30px;
	margin: 15px auto;
	display: block;
}

.listing-photo {
	width: 100%;
	height: 350px;
	position: absolute;
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}

.bold{
	font-weight: 600;
}

#drop_zone{
	-o-object-fit: contain;
	object-fit: contain;
	border-radius: 6px;
	background-color: #f0f0f0;
	border: 2px dashed #aaa;
	height: 350px;
	width: 100%;
	text-align: center;
	padding: 20px;
}

.button-custom {
	background: #1477ea;
	color: #fff!important;
	padding: 11px 52px;
	line-height: normal;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	border: 0;
	outline: 0;
	background-image: none;
	cursor: pointer;
	-webkit-appearance: none!important;
}

.validation-notice {
	margin: 0 5px;
	color: red;
	font-weight: 500;
	font-style: italic;
	display: none;
}

div .custom-input-text{
	width: 100%;
	height: 34px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 6px;
	.custom-price {
		width: 48%;
		height: 31px;
		border: 0px;
		float: left;
		padding: 6px 14px;
		border-radius: 6px;
	}
	.divider {
		width: 4%;
		height: 31px;
		border: 0px;
		text-align: center;
		vertical-align: middle;
		line-height: 31px;
		float: left;
	}
}

div .custom-area-metric {
	width: 100%;
	height: 34px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 6px;
	.custom-text {
		width: 70%;
		height: 32px;
		border: 0px;
		float: left;
		padding: 6px 14px;
		border-radius: 6px;
	}
	.custom-button{
		width: 15%;
		height: 32px;
		border: 0px;
		text-align: center;
		vertical-align: middle;
		line-height: 31px;
		float: left;
		background-color: #ffffff;
		color: #787f8a;
		border: 1px solid #ccc;
		&.left {
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}
		&.right {
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
		&.active {
			background-color: #1477ea;
			color: #ffffff;
		}
	}
}

.file-uploader{
	background-color: #1477ea !important;
	border-color: #1477ea !important;
	color: #ffffff;
	border-top-right-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
}

.button {
	background: #1477EA;
	color: #fff !important;
	@include rem-fallback(padding, 11, 52);
	line-height: normal; // Fix vertical align for input submit
	font-weight: 500;
	@include rem-fallback(font-size, 15); // Make sure input[type="submit"] will not use user agent stylesheet font size
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	border: 0;
	outline: 0; // Remove default browser highlight
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	cursor: pointer; // Make sure the cursor will stay pointer even if the button is not an <a></a>, for example <input type="submit">
	-webkit-appearance: none !important;

	&.disabled {
		background-color: #999999;
		cursor: default;
	}
}

div.rounded-popup{
	border-radius: 25px;
	width: 15px;
	height: 15px;
	background-color: #97a0b3;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 13px;
}
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	font-size: 14px !important;
	width: 278px;
	background-color: #97a0b3;
	color: #yellow;
	text-align: left;
	border-radius: 6px;
	padding: 10px 13px;
	position: absolute;
	z-index: 1;
	bottom: -175%;
	left: -1915%;
}
/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 26%;
	left: 101%;
	margin-left: -5px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent transparent #97a0b3;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}