$max: 100;
$space: 5;

@for $i from 1 through $max / $space {
	.mt-#{$i * $space} {
		@include rem-fallback(margin-top, $i * $space);
		margin-top: ($i * $space)+px!important;
	}

	.mb-#{$i * $space} {
		@include rem-fallback(margin-bottom, $i * $space);
		margin-bottom: ($i * $space)+px!important;
	}

	.pt-#{$i * $space} {
		@include rem-fallback(padding-top, $i * $space);
		padding-top: ($i * $space)+px!important;
	}

	.pb-#{$i * $space} {
		@include rem-fallback(padding-bottom, $i * $space);
		padding-bottom: ($i * $space)+px!important;
	}
}

.mt-0 {
	margin-top: 0 !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.pt-0 {
	padding-top: 0 !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}